<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<!-- <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/> -->
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />
	<appender name="LOGSTASH"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
			
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/logstash-%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
	</appender>
 
	<root level="INFO">
		<appender-ref ref="LOGSTASH" />
	</root>
</configuration>